*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow-y: hidden;
}


.navbar{
    height: 5vh;
    display: flex;
    /* border: 2px solid red; */
    padding: 20px 170px;
    background-color: whitesmoke;
    align-items: center;
    justify-content: space-between;
}

.nav-items{
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

.logo-container{
    font-size: 28px;
}

.nav-list-items{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 600;
    font-size: 18px;
    gap: 30px;
}

.container{
    display: flex;
    width: 100vw;
}

.child-container{
    width: 50%;
    height: 95vh;
}

.image-container{
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
}




